:root{
  --bodyBackground : #252424;
  --greenColor : #33B175;
  --redColor : #A00E0E;
  --whiteColor : #FFFFFF;
  --divBg : #312D2D;
}

*,*::before,*::after {
    box-sizing: border-box
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    background: var(--bodyBackground);
    color: var(--whiteColor);
}

body,html {
    margin: 0;
    padding: 0
}

section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column
}

main {
    margin: auto;
    width: 100%;
    max-width: 60rem;
    padding: 0 .5rem;
}

.grid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.row>[class*=col],.row>div,.grid>[class*=col],.grid>div {
    flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: .5rem
}

.grid .col-12 {
    width: 100%;
}

.center{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.heading {
 font-size: 3.5rem;
 text-transform: uppercase;
 text-align: center;
 line-height: 5rem;
 letter-spacing: 0.2rem;
 word-spacing: 0.6rem;
}

.greenText {
 color: var(--greenColor);
}

.retryBtn svg{
 border: 1px solid var(--greenColor);
}

.fa-rotate-right{
 padding: 1rem 0.5rem;
 border: 2px solid var(--greenColor);
 border-radius: 100%;
 cursor: pointer;
}

#percentage{
 font-size: 1em;
 margin-left: 1rem;
 border: 2px solid var(--greenColor);
 border-radius: 30px;
 padding: 0.5rem 1rem;
 font-weight: bold;
 text-align: center;
}

.adblockStat {
    margin-top: 5%;
    border: 2px solid var(--greenColor);
    border-radius: 30px;
    padding: 2rem 3rem;
}

.adblockStat h3 {
 color: var(--whiteColor);
 margin: 0 2rem !important;
 text-transform: capitalize;
 letter-spacing: 0.1rem;
}

.adblockStat h1 {
 text-align: center !important;
 margin-top: 0;
 color: var(--whiteColor);
 text-transform: capitalize;
 letter-spacing: 0.1rem;
}

.d-flex {
 display: flex;
}

.d-inline {
 display: flex;
 display: inline;
}

.fa-circle-check {
 color: var(--whiteColor);
 background: var(--greenColor);
 border-radius: 100%;
}

.fa-circle-xmark {
 color:var(--whiteColor);
 background: var(--redColor);
 border-radius: 100%;
}

.adCategory {
    color: var(--whiteColor);
    font-size: 3rem;
    text-align: center;
}

.test {
    background: var(--divBg);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    min-height: 45px;
    transition: all 1s;
    font-size: 3rem;
    color: var(--whiteColor);
    padding: 1rem 1.5rem;
	 border-radius: 1.2rem;
	 cursor: default;
	 user-select: none;
	 max-width: 100%;
}

.test.show>div {
    display: flex;
}

.test>div {
    position: relative;
    user-select: none;
    display: none;
    flex-direction: column;
    overflow-x: auto;
    gap: .5rem;
    padding: .5rem;
    width: 100%;
    white-space: nowrap;
}

.test>div>div {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.test>div>div>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.adblockHostDiv {
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: none;
  color: grey;
  border-radius: 20px !important;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adblockHostDiv:first-child {
    margin-top: 2rem;
}

#loader svg {
    margin-bottom: 3rem;
}

.adblockStat {
    display: none;
}
